<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Parallel Test Suite" parallel="tests" thread-count="2">
    <test name="Chrome Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="grid" value="true"/>
        <classes>
            <class name="Tests.ReportDescendingTest"/>
        </classes>
    </test>
    <test name="Edge Test">
        <parameter name="browser" value="edge"/>
        <parameter name="grid" value="true"/>
        <classes>
            <class name="Tests.ReportDescendingTest"/>
        </classes>
    </test>
</suite>